<div style="margin-top: 20%;">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <h2>Nova Conta</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.label t('users.email') %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>
        
          <div class="form-group">
            <%= f.label t('users.password') %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> <%= t('devise.registrations.new.characters_minimum') %>)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
          </div>
        
          <div class="form-group">
            <%= f.label t('users.password_confirm') %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>
        
          <div class="actions">
            <%= f.submit "Sign up", class: 'btn btn-primary' %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
