<div style="margin-top: 30%; text-align: center;">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <p>Usuário: <%= current_user.id %>
        </p>
        <p>Saldo: <b>
            <%= @account.amount %>
          </b></p>
        <p>Agencia: <b>
            <%= @account.agency %>
          </b></p>
        <p>Conta: <b>
            <%= @account.account %>
          </b></p>
        <%= link_to 'Transferência' , '/transactions/new' %>
      </div>
    </div>
  </div>
</div>