@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import 'toastr';

body {
  background-color: darkgrey;
}
.center {
  vertical-align: middle;
}
.bg-dark {
  background-color: #000000 !important;
}