<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Transferência</h1>
</div>
<%= form_with(model: transaction, local: true) do |form| %>
  <%= form.label 'Conta Destinatário' %>
  <%= form.text_field :destination_account, required: true, class: 'form-control' %>
  <%= form.label 'Valor' %>
  <%= form.text_field :amount, id: 'money', required: true, class: 'form-control', onKeyPress: "return(moeda(this,'.',',',event))" %>
  <br>
  <%= form.submit 'Salvar' , class: 'btn btn-primary' %>
<% end %>