<br>
<br>
<div class="col-lg-12">
  <div class="card shadow mb-4">
    <div class="card-body" style="text-align:center;">
      <b>
        <p>Transferência realizada com sucesso.</p>
      </b>
      Transferência para:
      <br>
      Agencia: <b>
        <%= @transaction.destination_account.agency %>
      </b>
      <br>
      Conta: <b>
        <%= @transaction.destination_account.account %>
      </b>
      <br>
      Valor: <b>
        <%= @transaction.amount %>
      </b>
    </div>
  </div>
</div>