<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="25.61" height="32">
        <path fill="white"
          d="M22.86 18.85c.84-.1 1.2-.38 1.17-1.34a19.5 19.5 0 00-.24-2.63 12.08 12.08 0 00-3.72-7 12.87 12.87 0 00-8.96-3.08 7.6 7.6 0 01-3.19-.67A7.73 7.73 0 015.3 2.15L4.11.8A2.34 2.34 0 10.58 3.9l1.19 1.35a12.47 12.47 0 004.22 3.17 12.24 12.24 0 005.14 1.07 8.33 8.33 0 015.8 1.86 7.73 7.73 0 012.31 4.9c.27 2.14 1.63 2.85 3.62 2.6zm-20.11-5.7c1.99-.24 3.35.47 3.62 2.6a7.71 7.71 0 002.31 4.9 8.35 8.35 0 005.8 1.87 12.21 12.21 0 015.14 1.07 12.44 12.44 0 014.23 3.17l1.18 1.36a2.34 2.34 0 11-3.52 3.08l-1.19-1.35a7.74 7.74 0 00-2.63-1.98 7.58 7.58 0 00-3.2-.67 12.86 12.86 0 01-8.96-3.07 12.08 12.08 0 01-3.7-7.01 19.52 19.52 0 01-.25-2.63c-.02-.96.33-1.24 1.17-1.34zm8.8.34h2.52a1.25 1.25 0 011.24 1.25v2.52a1.25 1.25 0 01-1.24 1.25h-2.53a1.25 1.25 0 01-1.24-1.25v-2.52a1.25 1.25 0 011.24-1.25z">
        </path>
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if current_user.present? %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to('Home', root_path, class: 'nav-link' ) %>
          </li>
          <li class="nav-item">
            <%= link_to('Sair', destroy_user_session_path, method: :delete, class: 'nav-link' ) %>
          </li>
        </ul>
      </div>
  </div>
  <% end %>
</nav>